body {
    background-image: url(assets/background.jepg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Play";
    color: lavenderblush;
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
}

ul {
    list-style: none;
}

ul li::before {
    content: "->";
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

ul li {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

a {
    box-sizing: content-box;
    color: lightcoral;
    text-decoration: none;
    padding: 2px 7px;
    padding-right: 0px;
}

a:visited {
    color: lightcoral;
}

a:focus {
    box-sizing: content-box;
    border: 3px solid;
    border-color: white;
    padding: 2px 4px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

#text1 {
    display: flex;
    justify-content: center;
}

#my-photo {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

main {
    width: 50vw;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-20%, -5%);
    /* align-items: center; */
}

main ul {
    color: white;
}

#name {
    margin: 3vh 0vw;
    font-size: 4rem;
    font-weight: 550;
    color: white;
}

#social-icons {
    display: flex;
    justify-content: space-around;
    width: 13vw;
    margin-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
    }

    aside, #my-photo {
        width: 95vw;
        height: auto;
        margin-top: 1rem;
        border-radius: 50%;
    }
    main {
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        height: auto;
        justify-content: center;
    }
    #name {
        display: flex;
        justify-content: center;
    }
    #social-icons {
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-left: -2rem;
    }
}
