body {
    background-image: url(assets/background.jepg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Play";
    color: lavenderblush;
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
}

ul {
    list-style: none;
}

ul li::before {
    /* content: "->"; */
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

ul li {
    list-style: inside;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

a {
    box-sizing: content-box;
    color: lightcoral;
    text-decoration: none;
    padding: 2px 7px;
    padding-right: 0px;
}

a:visited {
    color: lightcoral;
}

a:focus {
    box-sizing: content-box;
    border: 3px solid;
    border-color: white;
    padding: 2px 4px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

#text1 {
    display: flex;
    justify-content: center;
}

#my-photo {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

main {
    width: 50vw;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-20%, -5%);
}

main ul {
    color: white;
}

#name {
    margin: 3vh 0vw;
    font-size: 4rem;
    font-weight: 550;
    color: white;
}

#social-icons {
    display: flex;
    justify-content: space-around;
    width: 13vw;
    margin-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media all and (max-width: 1000px) {
    body {
        all: unset;
        background-image: url(assets/background.jepg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* overflow: unset; */
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    aside {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* aside, */
    #my-photo {
        height: auto;
        border-radius: 50%;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        transform: unset;
    }

    ul li{
        font-size: 1.5rem;
    }

    #name {
        display: flex;
        justify-content: center;
    }
    #social-icons {
        all: unset;
        display: flex;
        width: 100vw;
        justify-content: center;
    }
    #social-icons img {
        width: 5vw;
        height: 5vw;
        margin: 1rem;
    }
}

@media all and (max-width: 1000px) {
    body {
        overflow: visible;
        justify-content: center;
        height: 100vh;
    }

    #name {
        font-size: 2rem;
    }

    ul li {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    #social-icons img {
        width: 7.5vw;
        height: 7.5vw;
        margin: 1rem;
    }
}
