body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Play";
    background-color: #33333310;
}

a {
    text-decoration: none;
}

.d-f {
    display: flex;
}

.d-f-c {
    display: flex;
    flex-direction: column;
}

.d-f-r {
    display: flex;
    flex-direction: row;
}

.jc-c {
    justify-content: center;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.ai-c {
    align-items: center;
}

.ai-fe {
    align-items: flex-end;
}
