.wordCarousel {
    font-size: 1.2rem;
    font-weight: 100;
    color: #d8d8d8;
    margin-top: 5rem;
    overflow: hidden;
    float: left;
    height: 20px;
}

.wordCarousel li {
    font-family: "Play";
    color: #fbff00;
    font-weight: 100;
    height: 45px;
    margin-bottom: 45px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.flip2 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
    // font-size: smaller;
    animation: flip4 12s cubic-bezier(0.23, 1, 0.72, 1.2) infinite;
}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }
    5% {
        margin-top: -270px;
    }
    25% {
        margin-top: -270px;
    }
    30% {
        margin-top: -180px;
    }
    50% {
        margin-top: -180px;
    }
    55% {
        margin-top: -90px;
    }
    75% {
        margin-top: -90px;
    }
    80% {
        margin-top: 0px;
    }
    99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}
